//Colors
$main-color:#02a9c0;
$sec-color:#ffab00;
$text-color:#333;
$bg-color:#f6f6f6;

//Font sizes
$title-size:36px;
$icon-size:48px;
$text-size:15px;
$page-text-size:28px;
$sub-title-size:16px;

//Font family
$main-font:'Open Sans', sans-serif;
$sec-font:'Lato', sans-serif;
